parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Laravel
        - src/Symfony
    ignoreErrors:
        # Ignore reflection-based property access in tests
        - '#Access to an undefined property ReflectionClass#'
    reportUnmatchedIgnoredErrors: false

    # Better error messages
    treatPhpDocTypesAsCertain: true
